bin
build
external
/.vs/vk_graphics_basic/FileContentIndex/0a2e9923-e29c-4e36-bebe-6ff6c512db64.vsidx
/.vs/vk_graphics_basic/FileContentIndex/read.lock
/.vs/vk_graphics_basic/v17/.suo
/.vs/vk_graphics_basic/FileContentIndex/da9adda6-c348-4145-8477-87fae97d645e.vsidx
*.vsidx
/.vs/vk_graphics_basic/v17/Browse.VC.db
/.vs/vk_graphics_basic/v17/Browse.VC.db-shm
/.vs/vk_graphics_basic/v17/Browse.VC.db-wal
/.vs/vk_graphics_basic/v17/Browse.VC.opendb
/.vs/CMake Overview
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
